
<div class="ms-2 mt-5 pt-3">
<h3>Reviews To Be Approved</h3>
</div>
<hr>
<div class="container mt-5 pt-3" *ngIf="reviews.length==0">
    <h5 class="empty">No reviews here for approval !</h5>
</div>
<div class="container mt-5 pt-3">
    
    <div class="container" *ngFor="let rev of reviews">
        <div class="card mb-3">
            <div class="card-header">
                {{rev.heading}}
                <div class="row">
                    <div class="col" (click)="approve(rev.id)">
                     <img class="approve" src="../../../assets/success.png" alt="approve">
                    </div>
                    <div class="col" (click)="reject(rev.id)">
                        <img class="approve" src="../../../assets/remove.png" alt="reject">
                    </div>

                </div>
            </div>
            <div class="card-body">
                {{rev.review}}
            </div>
           
            <div class="card-footer">
               Rating: {{rev.rating}}/5
            </div>
      
        </div>
     
    </div>
</div>