.approve{
    max-width: 35px;
    max-height: 35px;
   
}
.col{
    max-width: fit-content;
    
}
.row{
    margin-left: 85%;
   
}
.empty{
    font-style: oblique;
    color: rgb(10, 243, 165);
    text-align: center;
}